@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        
        <div id="login-top" style="padding:25px 0 0; text-align:center;">
            <h1>Persets</h1>
            <hr />
        </div>
        
        <div id="login-middle" style="padding-left:60px; width:100%; padding-right:60px; display:inline-block;">
            
            <div id="login-container-form" style="float:left; margin-right:60px;">
                <div id="login-form">
                    <div class="login_wrapper">
                        <div class="animate form login_form">
                            <section class="login_content">
                                @using (Html.BeginForm("LogIn", "Login", FormMethod.Post))
                                {
                                    <div>
                                        <input type="text" class="form-control" placeholder="Username" required="" />
                                    </div>
                                    <div>
                                        <input type="password" class="form-control" placeholder="Password" required="" />
                                    </div>
                                    <div>
                                        @*<a class="btn btn-default submit" href="index.html">Log in</a>*@
                                        <input class="btn btn-default submit" type="submit" value="Log In" />
                                        @*<a class="reset_pass" href="#">Lost your password?</a>*@
                                        @Html.ActionLink("Lost your password?", "ForgotPassword", "Login", new { @class = "reset_pass" }, null)
                                    </div>

                                    <div class="clearfix"></div>
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="login-text" style="float:left; margin-top:5px; width:65%;">
                <h2>Welcome to <strong>Persets</strong></h2>
                <p>Persets is a .NET Core based application designed to help people storage their loved things 
                (like videos, movies, musics, ebooks or any other thing) in a cloud space for free. Did you like it? 
                Sign up right now.</p>
                <a href="/Login/Register" class="btn btn-success" target="_self">Sign up for free</a>
                <p style="margin-top:10px;">It's free and always will be.</p>
            </div>
        </div>
        
        <div id="login-bottom" style="text-align:right;">
            <hr style="margin-bottom:20px;" />
            <div id="navcontainer" style="padding-right:20px;">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</body>