<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Persets | @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/scripts/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/scripts/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/scripts/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/scripts/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="/scripts/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/content/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    @RenderBody()
    <!-- jQuery -->
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/scripts/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/scripts/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/scripts/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/scripts/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/scripts/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/scripts/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/scripts/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/scripts/Flot/jquery.flot.js"></script>
    <script src="/scripts/Flot/jquery.flot.pie.js"></script>
    <script src="/scripts/Flot/jquery.flot.time.js"></script>
    <script src="/scripts/Flot/jquery.flot.stack.js"></script>
    <script src="/scripts/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/scripts/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/scripts/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/scripts/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/scripts/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/scripts/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/scripts/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/scripts/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/scripts/moment/min/moment.min.js"></script>
    <script src="/scripts/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/content/js/custom.min.js"></script>

</body>
</html>
